﻿/*ALL CUSTOM HERE*/
.news-image-box {
    height: 200px;
}

@media(max-width: 992px) {
    .news-image-box {
        height: 250px;
    }
}

.news-image {
    width: 100%;
    height: inherit;
}

.inner-content {
    overflow: hidden;
}

/*-------------------------------------------------*/
/* =  General code
/*-------------------------------------------------*/

html {
    height: 100%;
}

body.active {
    opacity: 1;
    height: auto !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item {
    color: whitesmoke;
    text-align: left;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    background: 0 0;
    border: 0;
    font-size: 16px;
    transition: .3s;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/

.button-login {
    border: 0 solid transparent !important;
    width: 49%;
    border-radius: 0;
    color: white !important;
    margin-bottom: 0 !important;
}

header {
    height: 100%;
    display: block;
    width: 200px;
    float: left;
    background: #242b2e;
    text-align: right;
    z-index: 4;
    position: relative;
    box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 50px #000;
    -moz-box-shadow: 0 0 50px #000;
    -o-box-shadow: 0 0 50px #000;
}

.logo-box {
    padding: 20px;
    background: #fff;
    text-align: center;

    img {
        height: 100px;
    }
}

a.logo {
    display: inline-block;
    margin-bottom: 10px;
}

p.slogan {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    line-height: 30px;
}

ul.menu,
ul.archives,
ul.categories {
    padding: 0;
    margin: 0;
}

a.elemadded {
    display: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background: #03a9f4;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

a.elemadded:hover {
}

ul.menu > li {
    list-style: none;
    position: relative;
}

ul.menu > li > a,
ul.drop-down li a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 18px 24px;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /*text-transform: uppercase;*/
    text-decoration: none;
    line-height: 20px;
    transition: all 0.3 linear;
    -moz-transition: all 0.3 linear;
    -webkit-transition: all 0.3 linear;
    -o-transition: all 0.3 linear;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #333B3F), color-stop(1, #2E363A) );
    background-image: -o-linear-gradient(bottom, #333B3F 0%, #2E363A 100%);
    background-image: -moz-linear-gradient(bottom, #333B3F 0%, #2E363A 100%);
    background-image: -webkit-linear-gradient(bottom, #333B3F 0%, #2E363A 100%);
    background-image: -ms-linear-gradient(bottom, #333B3F 0%, #2E363A 100%);
    background-image: linear-gradient(to bottom, #333B3F 0%, #2E363A 100%);
}

ul.menu > li > a:after,
ul.drop-down > li > a:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    background: #03a9f4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.menu li a span {
    position: relative;
    z-index: 2;
}

ul.menu li a:hover:after,
ul.menu li a.active:after {
    width: 100%;
}

ul.drop-down {
    position: absolute;
    top: 0;
    width: 220px;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    text-align: left;
    left: 100%;
    transition: all 0.17s linear;
    -moz-transition: all 0.17s linear;
    -webkit-transition: all 0.17s linear;
    -o-transition: all 0.17s linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    -mos-transition: -mos-transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
}

li.drop:hover > ul.drop-down {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    -mos-transition: -mos-transform 0.4s, opacity 0.1s;
    -o-transition: -o-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

ul.drop-down li {
    position: relative;
}

ul.drop-down li a:hover {
}

div.filter-box {
    border-top: 1px solid #202426;
    border-bottom: 1px solid #1e282b;
    padding: 20px 24px;
}

div.filter-box h3 {
    color: #03a9f4;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 30px;
}

div.filter-box h3 i {
    margin-left: 12px;
}

div.filter-box ul {
    padding: 0;
    margin: 0;
}

div.filter-box ul li a {
    display: inline-block;
    color: #6b7072;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0 0 4px #22282b;
    text-decoration: none;
    -webkit-text-shadow: 0 0 3px #22282b;
    -moz-text-shadow: 0 0 3px #22282b;
    -o-text-shadow: 0 0 3px #22282b;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

div.filter-box ul li a:hover,
div.filter-box ul li a.active {
    color: #ffffff;
}

.social-box {
    padding: 28px 24px;
    overflow: hidden;
}

ul.social-icons {
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    list-style: none;
    display: inline-block;
    margin-left: 8px;
}

ul.social-icons li {
    margin-left: 0px;
}

ul.social-icons li a {
    display: inline-block;
    margin: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
    text-align: center;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a.facebook {
    background: #3e5ea2;
}

ul.social-icons li a.twitter {
    background: #2eb0e3;
}

ul.social-icons li a.github {
    background: #fff;
}

ul.social-icons li a.pinterest {
    background: #f43a2c;
}

ul.social-icons li a.google {
    background: #da5f2e;
}

ul.social-icons li a.youtube {
    background: #df2826;
}

ul.social-icons li a.linkedin {
    background: #107cb7;
}

ul.social-icons li a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

ul.social-icons li a i {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a.github i {
    color: #000;
}

p.copyright {
    color: #6b7072;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 18px;
    line-height: 20px;
}

// Header Responsive
@media (max-width: 1700px) {
    .blog-post {
        width: 24.98%;
    }
}

@media (max-width: 1400px) {
    .blog-post {
        width: 33.3%;
    }
}

@media (max-width: 1300px) {
    .project-post {
        width: 33.3%;
    }

    ul.tab-links li a {
        font-size: 15px;
    }

    .about-content,
    .single-box-content {
        width: 100%;
        float: none;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }

    .sidebar {
        float: none;
        width: 100%;
    }
}

@media (max-width: 1199px) {
    header {
        max-width: 250px;
    }

    #content {
        padding-left: 200px !important;
    }

    ul.social-icons li {
        margin-left: 0;
    }

    .blog-post {
        width: 49.9%;
    }
}

@media (max-width: 991px) {
    .blog-post {
        width: 100%;
    }

    .project-post {
        width: 49.99%;
    }

    .text-fields {
        float: left;
        width: 100%;
        padding-right: 0px;
    }

    .submit-area {
        float: right;
        width: 100%;
    }

    ul.tab-links li a {
        font-size: 12px;
        max-height: 53px;
    }

    ul.depth {
        margin-left: 0;
    }

    ul.depth li:before {
        width: 0;
        height: 0;
        border: none;
    }

    .similar-projects .project-post {
        width: 100%;
    }
}

@media (max-width: 767px) {
    header {
        float: none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        height: auto !important;
    }

    .about-page {
        padding: 0 !important;
    }

    .logo-box p.slogan {
        display: none;
    }

    ul.drop-down {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
        -mos-transition: -mos-transform 0.4s, opacity 0.1s;
        -o-transition: -o-transform 0.4s, opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
    }

    ul.menu {
        max-height: 250px;
        overflow-y: scroll;
    }

    .filter-box {
        display: none;
    }

    p.copyright {
        display: none;
    }

    #content {
        padding-left: 0px !important;
    }

    a.elemadded {
        display: block;
        padding: 10px;
    }

    .menu-box {
        display: none;
    }

    ul.tab-links li a {
        padding: 18px 0;
    }

    .social-box {
        padding: 10px 24px;
        overflow: hidden;
    }

    .list-group-item {
        display: none;
    }

    .logo-box {
        padding: 0;

        img {
            height: 60px;
        }
    }
}

@media (max-width: 581px) {

    .project-post {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .about-content,
    .single-box-content {
        width: 100% !important;
        float: none !important;
        border-right: none !important;
        border-bottom: 1px solid #e5e5e5 !important;
    }

    .sidebar {
        float: none !important;
        width: 100% !important;
    }
}

/*-------------------------------------------------*/
/* =  content
/*-------------------------------------------------*/

#content {
    position: relative;
    padding-left: 200px;
    height: 100%;
}

/*-------------------------------------------------*/
/* =  project-page
/*-------------------------------------------------*/

.single-project {
    padding: 30px;
}

.single-box {
    background: #fff;
    overflow: hidden;
}

.single-box-content {
    width: 50%;
    float: left;
    border-right: 1px solid #e5e5e5;
}

.sidebar {
    width: 50%;
    float: left;
    padding: 25px;
}

.project-post-content {
    padding: 25px 30px 30px;
}

.project-post-content h1,
.sidebar h1 {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 7px;
    line-height: 30px;
}

.project-post-content p,
.about-section p {
    color: #a3a3a3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 25px;
    line-height: 30px;
}

.project-text {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.similar-projects h1 {
    margin-bottom: 20px;
}

.similar-projects .project-post {
    width: 49.9%;
}

.sidebar h1 {
    margin-bottom: 17px;
}

.post-info {
    margin-bottom: 26px;
}

.post-info ul li {
    padding: 14px 0;
    border-bottom: 1px solid #e5e5e5;
}

.post-info ul li:first-child {
    padding: 0 0 14px;
}

.post-info ul li span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #1ab5b3;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 14px;
}

.post-info ul li span i {
    color: #1ab5b3;
    line-height: 32px;
    font-size: 12px;
}

.post-info ul li a {
    text-decoration: none;
    display: inline-block;
    color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 32px;
}

.project-gallery ul {
    overflow: hidden;
}

.project-gallery ul li {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}

.project-gallery ul li a {
    display: inline-block;
    max-width: 78px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.project-gallery ul li a:hover {
    opacity: 0.7;
}

.project-gallery ul li a img {
    width: 100%;
}

.project-gallery {
    margin-bottom: 14px;
}

.project-feature h1 {
    margin-bottom: 5px;
}

.project-feature ul li {
    color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 32px;
}

.project-feature ul li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 8px;
}


/*-------------------------------------------------*/
/* =  about-page
/*-------------------------------------------------*/

.about-page {
    padding: 30px;
}

.about-box {
    background: #fff;
    overflow: hidden;
}

.about-content {
    width: 50%;
    float: left;
    padding: 30px 30px 0;
    border-right: 1px solid #e5e5e5;
}

.about-section > img {
    width: 100%;
    margin-bottom: 20px;
}

.about-section h1 {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 5px;
    line-height: 30px;
}

/*.about-section {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}*/

.last-section {
    border: none;
    margin: 0;
}

.last-section h1 {
    margin-bottom: 20px;
}

.team-post {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.team-post img {
    width: 100%;
    -webkit-backface-visibility: hidden;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26,181,179,0.9);
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    overflow: hidden;
}

.team-post:hover .team-hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.team-data {
    position: relative;
    top: 50%;
    margin-top: -16px;
}

.team-post h3 {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
}

.team-post span {
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 16px;
    margin: 0;
}

.skills-progress {
    margin-bottom: 30px;
}

.skills-progress p {
    color: #000000;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 26px;
    clear: both;
    margin-bottom: 0px;
}

.skills-progress p span {
    font-size: 14px;
    float: right;
}

.meter {
    height: 33px; /* Can be anything */
    position: relative;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 12px;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url('../images/skills-pattern.png');
}

.client-test {
    overflow: hidden;
}

.client-test img {
    float: left;
    max-width: 80px;
    margin-right: 24px;
}

.client-test h3 {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: 27px 25px;
    margin: 0;
    margin-left: 80px;
    line-height: 26px;
    background: #1ab5b3;
}

.testimonial p {
    color: #a3a3a3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 16px 30px;
    border: 1px solid #ececec;
}

.testimonial {
    margin-bottom: 25px;
}

.skills-progress h1 {
    margin-bottom: 6px;
}

.services h1 {
    margin-bottom: 6px;
}

.services ul li a {
    display: inline-block;
    color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 28px;
    text-decoration: none;
}

.services ul li {
    position: relative;
    padding-left: 11px;
}

.services ul li:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #848484;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    top: 12px;
    left: 0;
    margin-right: 7px;
    position: absolute;
}
