//==================================
// 	Fonts
//==================================


$font-family-ptsans: PT Sans, sans-serif !default; // PT Sans font
$font-family-rc: Roboto Condensed, sans-serif !default; // Roboto Condensed font


//==================================
// 	Color
//==================================

$default-color: #e67e22 !default;
$default-dark: #333743 !default;
$default-light-dark: #464b5d !default;
$default-deep-white: #f6f7fb !default;
$default-white: #fff !default;
$default-gray: #999 !default;
$default-deep-gray: #cecece !default;
$default-light-gray: #ececec !default;
$default-light-gray-ex: #fcfcfc !default;
$dropdown-menu-color: #fff !default;
$default-danger: #f54053 !default;
$default-warning: #febf34 !default;
$default-success: #c2d81e !default;
$default-info: #06beda !default;


//==================================
// 	Social-Icon-color
//==================================

$facebook : #3B579D;
$twitter : #2CAAE1;
$instagram : #5d4a3b;
$google-plus : #dc4a38;
$pinterest : #c9181f;
$skype : #00AAF1;
$linkedin : #0177b5;
$youtube : #DE2825;
$yahoo : #7b0099;
$rss : #f58432;
$dropbox : #007EE6;
$sound-cloud : #FF6A22;
$vimeo : #1BB6EC;
$behance : #0b7bff;
$bing : #ffb900;
$dribble : #ea4c89;
$html5 : #f16528;
$sharethis : #50b948;
$tumblr : #36465d;
$wordpress : #0087be;




