﻿@using Core.Web.Extensions
@model PostgresqlDemo.WebCore.Modules.Profile.Models.PersonalInfoModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Personal Info</h5>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">General</a>
                            </li>
                            @*<li>
                                <a href="#tab2" data-toggle="tab">Avatar</a>
                            </li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="panel-body">
                                    @using (Html.FormPost())
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ErrorSummary()

                                        @Html.EditorForModel("Form")

                                        <button class="btn btn-primary ladda-button">
                                            <i class="fa fa-save"></i> Update
                                        </button>
                                    }
                                </div>
                            </div>
                            @*<div class="tab-pane" id="tab2">
                                <div class="panel-body">
                                    @Html.Action("ChangeAvatar", "AvatarManager")
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        Validator.default();
    </script>
}
