
/*-------------------------------
--------- 38. Blog Grid ---------
-------------------------------*/

.blog-grid {
	position: relative;
	
	&.col-2 {
		.blog-item .blog-media .blog-video iframe {
			min-height: 370px;
		}
	}
	
	&.col-3 {
		.blog-item .blog-media .blog-video iframe {
			min-height: 235px;
		}
	}
	
	&.col-4 {
		.blog-item .blog-media .blog-video iframe {
			min-height: 235px;
		}
	}
	
	.blog-item {
		
		.blog-media {
			position: relative;
			overflow:hidden;
			
			img {
				@include transition(all 0.4s ease-in-out);
			}
			
			.blog-video {
				iframe {
					width: 100%;
				}
			}
			
			.overlay {
				position: absolute;
				@include positioning($top: 0px, $right: 0px, $left: 0px, $bottom: 0px);
				background-color: rgba( $default-dark, 0.6 );
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.4s ease-in-out);
				
				.blog-tag {
					width: 100%;
					height: 100%;
					display: table;
					z-index: 10;
						
					.tag-item {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						
						a,
						span {
							color: $default-light-gray;
						}
					}
				}
			}
		}
		
		&:hover {
			.blog-media {
				
				img {
					@include transform(scale(1.1));
				}
				
				.overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
			
		.blog-content {
						
			.blog-meta {
				position: relative;
				margin-bottom: 5px;
				font-size: 14px;
				color: $default-gray;	
			}
			
			.blog-tittle {
				margin-top: 30px;				
				letter-spacing: 0.5px;
			}
			
			.blog-article {
				margin-top: 20px;
				height: 135px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			.blog-action {
				display: inline-block;
				margin-top: 25px;
				
				.likes,
				.comments {
					padding-right: 15px;
					
					a {
						color: $default-gray;
						font-weight: bold;
					}	
				}
			}
		}
			
		.continue-reading {
			margin-top: 25px;
			float: right;
			@include transition(all 0.4s ease);
			text-decoration: underline;
		}
	
	}
}