﻿@using Core.Web.Extensions
@using Core.Web.MetadataModel.Common
@model dynamic

@foreach (var prop in ViewData.ModelMetadata.Properties.Where(p => p.ShowForEdit))
{
    if (prop.IsHidden())
    {
        @Html.Editor(prop.PropertyName)
    }
    else if (prop.IsBoolean())
    {
        <div class="form-group">
            @Html.Editor(prop.PropertyName)
        </div>
    }
    else
    {
        <div class="form-group">
            <label>@prop.DisplayLabel()</label>
            <div>
                @Html.Editor(prop.PropertyName)
            </div>
            @Html.HelpText(prop)
        </div>
    }
}
