﻿@using Core.Web.MetadataModel.Common
@model dynamic

@foreach (var prop in ViewData.ModelMetadata.Properties.Where(p => p.ShowForEdit))
{
    if (prop.IsHidden())
    {
        @Html.Hidden(prop.PropertyName)
    }
    else if (prop.ModelType == typeof(bool))
    {
        @Html.Editor(prop.PropertyName)
    }
    else
    {
        <div class="form-group">
            <label for="@prop.PropertyName" class="sr-only">@prop.DisplayName</label>
            @Html.Editor(prop.PropertyName)
        </div>
    }
}
