﻿@using Core.Web.Extensions
@using Core.Web.Kendo
@using Core.Web.MetadataModel.Common
@using Core.Web.MetadataModel.Validations
@using Humanizer.Bytes
@model HttpPostedFileBase

@{
    var attr = ViewData.ModelMetadata.ContainerType
          .GetProperty(ViewData.ModelMetadata.PropertyName)
          .GetCustomAttributes(typeof(FileUploadAttribute), false)
          .FirstOrDefault() as FileUploadAttribute;

    var maxFileSize = attr?.MaxSizeInMB ?? FileUploadAttribute.DefaultMaxSizeInMB;
    var allowedExtensions = attr?.AllowedExtensions ?? FileUploadAttribute.DefaultFileExtensions;
}

@(Html.Kendo().Upload()
      .Name(Html.NameForModel().ToString())
      .Multiple(false)
      .Validation(x => x.MaxFileSizeInMB(maxFileSize).AllowedExtensions(allowedExtensions))
      .HtmlAttributes(Html.ModelHtmlAttributes())
      .Deferred()
)

@if (attr != null)
{
    <div class="help-block">
        Maximum allowed file size is <strong>@(ByteSize.FromMegabytes(maxFileSize))</strong>
        @if (allowedExtensions != null)
        {
            @:and only upload
            <strong>
                @string.Join(", ", allowedExtensions.Select(x => x.TrimStart('.')))
            </strong>
            @:files
        }
    </div>
}

@Html.InvalidMessageFor(m => m)
