﻿@using PostgresqlDemo.WebCore.Modules.Host.Models
@using Core.Web.Kendo
@using PostgresqlDemo.WebUI.Infrastructure.Extensions

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User list</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<HostUserPreview>()
                          .DefaultSettings()
                          .Columns(columns =>
                          {
                              columns.Bound(p => p.UserName);
                              columns.Bound(p => p.Email);
                              columns.Template(x => { })
                                  .ClientTemplate(@"
                                        #if (IsLocked === false) { #
                                            <button class='btn btn-danger' onclick='hostManageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-ban'></span> Lock</button>
                                        # } else { #
                                            <button class='btn btn-primary' onclick='hostManageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-check'></span> Unlock</button>
                                        # } #
                                            <button class='btn btn-default' onclick='hostManageUserCtrl.resetPassword(#:Id#)'>Reset pwd</button>"
                                  ).Width(250);
                          })
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .DefaultSettings()
                              .Model(model =>
                              {
                                  model.Id(p => p.Id);
                                  // Set editable for IsLocked property to make it could be changed on the client side
                                  model.Field(x => x.IsLocked).Editable(true);
                              })
                              .Read(read => read.Action("Grid_Read", "ManageUser", "Host"))
                          ).Deferred()
                          )
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("admin/manage-user");
}