﻿.form-inline .btn {
  vertical-align: -webkit-baseline-middle; }

.form-group .k-textbox {
  width: 100%; }

textarea.form-control {
  font-size: 13px; }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after,
.checkbox input[type="radio"]:checked + label::after,
.checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.ladda-button:focus {
  outline: none !important; }

/* Override inspinia css */
.modal-body {
  padding: 15px; }
  .modal-body.modal-scroll {
    height: 700px;
    overflow-y: auto; }

.ibox-tools .buttons {
  position: absolute;
  right: 0;
  top: -7px; }
  .ibox-tools .buttons .btn {
    text-align: right;
    margin-bottom: 0px; }

.loginscreen.middle-box {
  width: 380px;
  max-width: 450px; }

/* Override Kendo bootstrap css */
.k-grid td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.k-edit-form-container {
  width: 550px;
  padding-left: 8px;
  padding-right: 8px; }
  .k-edit-form-container textarea.form-control {
    width: 95%; }

.list-group.k-widget {
  border-style: none;
  border-width: 0;
  -webkit-appearance: none; }

.k-imagebrowser img {
  height: 80px;
  width: 80px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca; }

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none; }

.pager:before,
.pager:after {
  display: table;
  content: " "; }

.pager:after {
  clear: both; }

.pager:before,
.pager:after {
  display: table;
  content: " "; }

.pager:after {
  clear: both; }

.pager li {
  display: inline; }

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px; }

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.pager .next > a,
.pager .next > span {
  float: right; }

.pager .previous > a,
.pager .previous > span {
  float: left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff; }

.letter-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0 0 0 2px; }
  .letter-avatar span {
    font-size: 35px; }

.group-avatar .letter-avatar {
  margin: auto;
  display: block; }

.group-avatar .letter-avatar.upload {
  height: 150px;
  width: 150px;
  border-radius: 75px; }
  .group-avatar .letter-avatar.upload span {
    line-height: 150px;
    font-size: 75px; }

.group-avatar .image-avatar {
  margin: auto;
  padding: 0;
  display: none; }

.group-avatar.image-profile .letter-avatar {
  display: none; }

.group-avatar.image-profile .image-avatar {
  display: block; }

#page .thumbnail {
  height: 300px; }
  #page .thumbnail .image {
    height: 100px;
    overflow: hidden;
    text-align: center; }
  #page .thumbnail .caption {
    height: 150px;
    overflow: hidden; }

#page .lead-dropdown .k-dropdown-wrap {
  min-width: 220px; }

.file-manager {
  margin: 10px; }
  .file-manager .k-upload-button {
    margin: 0;
    width: 100%; }
  .file-manager .k-widget {
    border-color: transparent; }
  .file-manager .form-group {
    vertical-align: top;
    width: 80%; }
  .file-manager .file-box {
    width: 147px;
    padding: 5px;
    height: 160px; }
    .file-manager .file-box .file {
      width: 145px;
      overflow: hidden;
      cursor: pointer; }
      .file-manager .file-box .file .file-name {
        padding: 5px; }
        .file-manager .file-box .file .file-name span {
          white-space: nowrap;
          font-size: 85%; }
      .file-manager .file-box .file .image {
        height: 110px; }
        .file-manager .file-box .file .image img {
          max-height: 110px;
          margin: auto; }
  .file-manager .avatar-upload em {
    display: none; }
  .file-manager .avatar-upload .k-dropzone {
    padding: 0; }

.m-t.custom .form-group {
  text-align: left; }

.m-t.custom .k-textbox {
  width: 100%; }

.pricing-plans {
  display: table;
  margin: 0 auto;
  text-align: center; }
  .pricing-plans .pricing-plan {
    float: left;
    width: 320px; }
  @media (max-width: 1200px) {
    .pricing-plans .pricing-plan {
      float: none; } }

#page {
  padding-top: 80px; }
  #page .group-embeded .ibox {
    margin-bottom: 10px; }
    #page .group-embeded .ibox .productImage {
      height: 100px; }

.product-view {
  margin-top: 10px; }
  .product-view .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0; }
  .product-view .product-box {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0;
    border: 1px solid #e7eaec; }
  .product-view .product-box:hover,
  .product-view .product-box.active {
    opacity: 1.00;
    box-shadow: 0px 0px 10px #4bc6ff; }
  .product-view .product-imitation {
    text-align: center;
    padding: 90px 0;
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600; }
  .product-view .product-desc {
    padding: 20px;
    position: relative; }
  .product-view .product-box.custom .product-imitation {
    overflow: hidden;
    padding: 0;
    white-space: nowrap; }
  .product-view .product-box.custom .productImage {
    height: 150px; }
    .product-view .product-box.custom .productImage i {
      vertical-align: sub; }
  .product-view .product-box.custom .detailImage {
    height: 400px; }
    .product-view .product-box.custom .detailImage i {
      display: block; }
  .product-view .product-box.custom span {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .product-view .product-box.custom img {
    margin: auto;
    display: inline-block;
    margin-left: -4px; }
  .product-view .product-box.custom .icon {
    font-size: 70px;
    display: inline-block; }
  .product-view .product-box.custom .textAlign {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .product-view .product-box.custom .listItemContent {
    display: none; }
  .product-view .item.listViewItem {
    float: none;
    width: 100%; }
    .product-view .item.listViewItem .productImage {
      min-height: 250px; }
      @media (min-width: 1000px) {
        .product-view .item.listViewItem .productImage {
          width: 40%;
          margin-right: 20px;
          float: left; } }
    @media (min-width: 1000px) {
      .product-view .item.listViewItem .product-desc {
        width: 55%;
        float: left; } }
    @media (min-width: 1000px) {
      .product-view .item.listViewItem .product-box.custom {
        display: flex;
        min-height: 252px; } }
    .product-view .item.listViewItem .listItemContent {
      display: block; }

.term-group {
  display: flex;
  margin: -10px 0 5px 0; }
  .term-group .read-more {
    line-height: 40px;
    padding-left: 5px; }

#formValue .table td {
  border: 0;
  vertical-align: middle; }

#image-preview {
  position: absolute; }
  #image-preview img {
    width: 150px; }

.gray-bg.Contact {
  background: #fff !important; }

#map-container {
  height: 422px; }

#contact .btn-default {
  padding: 10px 20px;
  font-size: 14px; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.25em;
  background: none;
  box-shadow: none !important;
  resize: none; }

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease; }

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #18BC9C; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }

.contact-footer {
  bottom: inherit !important; }
  @media (min-width: 1200px) {
    .contact-footer {
      bottom: 0 !important; } }

.box-border {
  height: 430px;
  border: 1px solid #1ab394;
  background: white;
  padding: 10px; }

#group-content .group-content-widget {
  border-radius: 5px 5px 0 0; }

#group-content small.label {
  margin-right: 3px;
  opacity: 0.5;
  display: none; }

#group-content .group-assets-list {
  height: 400px;
  padding: 0;
  overflow: hidden;
  overflow-y: visible; }
  #group-content .group-assets-list li {
    padding: 5px !important;
    margin-bottom: 7px !important; }
    #group-content .group-assets-list li img {
      height: 40px;
      width: 40px; }

#group-content .asset-loading #list-asset-content {
  height: 400px; }

#group-content .asset-loading #btnLoadMore {
  display: none; }

#group-content #list-asset-content {
  height: 350px; }
  #group-content #list-asset-content .btn-asset-assign {
    display: block; }
  #group-content #list-asset-content .btn-asset-delete {
    display: none; }
  #group-content #list-asset-content .recent-item .label-recent-delete {
    display: block; }

#group-content #list-group-content .btn-asset-assign {
  display: none !important; }

#group-content #list-group-content .btn-asset-delete {
  display: block !important; }

#group-content #list-group-content .recent-item .label-recent-add {
  display: block; }

