﻿// main nav
.letter-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0 0 0 2px;

    span {
        font-size: 35px;
    }
}

// Avatar manager
.group-avatar {
    .letter-avatar {
        margin: auto;
        display: block;
    }

    .letter-avatar.upload {
        height: 150px;
        width: 150px;
        border-radius: 75px;

        span {
            line-height: 150px;
            font-size: 75px;
        }
    }

    .image-avatar {
        margin: auto;
        padding: 0;
        display: none;
    }
}

.group-avatar.image-profile {
    .letter-avatar {
        display: none;
    }

    .image-avatar {
        display: block;
    }
}

// resource
#page .thumbnail {
    height: 300px;

    .image {
        height: 100px;
        overflow: hidden;
        text-align: center;
    }

    .caption {
        height: 150px;
        overflow: hidden;
    }
}

#page .lead-dropdown .k-dropdown-wrap {
    min-width: 220px;
}

// file manager
.file-manager {
    margin: 10px;

    .k-upload-button {
        margin: 0;
        width: 100%;
    }

    .k-widget {
        border-color: transparent;
    }

    .form-group {
        vertical-align: top;
        width: 80%;
    }

    .file-box {
        width: 147px;
        padding: 5px;
        height: 160px;

        .file {
            width: 145px;
            overflow: hidden;
            cursor: pointer;

            .file-name {
                padding: 5px;

                span {
                    white-space: nowrap;
                    font-size: 85%;
                }
            }

            .image {
                height: 110px;

                img {
                    max-height: 110px;
                    margin: auto;
                }
            }
        }
    }

    .avatar-upload {
        em {
            display: none;
        }

        .k-dropzone {
            padding: 0;
        }
    }
}

// home layout
.m-t.custom {
    .form-group {
        text-align: left;
    }

    .k-textbox {
        width: 100%;
    }
}

.pricing-plans {
    display: table;
    margin: 0 auto;
    text-align: center;

    .pricing-plan {
        float: left;
        width: 320px;
    }

    @media (max-width: 1200px) {
        .pricing-plan {
            float: none;
        }
    }
}

// resource
#page {
    padding-top: 80px;

    .group-embeded {
        .ibox {
            margin-bottom: 10px;

            .productImage {
                height: 100px;
            }
        }
    }
}

.product-view {
    margin-top: 10px;

    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

    .product-box {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        padding: 0;
        border: 1px solid #e7eaec;
    }

    .product-box:hover,
    .product-box.active {
        opacity: 1.00;
        box-shadow: 0px 0px 10px #4bc6ff;
    }

    .product-imitation {
        text-align: center;
        padding: 90px 0;
        background-color: #f8f8f9;
        color: #bebec3;
        font-weight: 600;
    }

    .product-desc {
        padding: 20px;
        position: relative;
    }
    //Default view
    .product-box.custom {
        .product-imitation {
            overflow: hidden;
            padding: 0;
            white-space: nowrap;
        }

        .productImage {
            height: 150px;

            i {
                vertical-align: sub;
            }
        }

        .detailImage {
            height: 400px;

            i {
                display: block;
            }
        }

        span {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            margin: auto;
            display: inline-block;
            margin-left: -4px;
        }

        .icon {
            font-size: 70px;
            display: inline-block;
        }

        .textAlign {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .listItemContent {
            display: none;
        }
    }
    // List view
    .item.listViewItem {
        float: none;
        width: 100%;

        .productImage {
            min-height: 250px;

            @media (min-width:1000px) {
                width: 40%;
                margin-right: 20px;
                float: left;
            }
        }

        .product-desc {
            @media (min-width:1000px) {
                width: 55%;
                float: left;
            }
        }

        .product-box.custom {
            @media (min-width:1000px) {
                display: flex;
                min-height: 252px;
            }
        }

        .listItemContent {
            display: block;
        }
    }
}

// register
.term-group {
    display: flex;
    margin: -10px 0 5px 0;

    .read-more {
        line-height: 40px;
        padding-left: 5px;
    }
}

#formValue {
    .table td {
        border: 0;
        vertical-align: middle;
    }
}

//image-preview
#image-preview {
    position: absolute;

    img {
        width: 150px;
    }
}


// home/contact
.gray-bg.Contact {
    background: #fff !important;
}

#map-container {
    height: 422px;
}

//Contact
#contact {
    .btn-default {
        padding: 10px 20px;
        font-size: 14px;
    }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.25em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

// footer
.contact-footer {
    bottom: inherit !important;

    @media (min-width:1200px) {
        bottom: 0 !important;
    }
}

// Reseller - Group Content
.box-border {
    height: 430px;
    border: 1px solid #1ab394;
    background: white;
    padding: 10px;
}

#group-content {
    .group-content-widget {
        border-radius: 5px 5px 0 0;
    }

    small.label {
        margin-right: 3px;
        opacity: 0.5;
        display: none;
    }

    .group-assets-list {
        height: 400px;
        padding: 0;
        overflow: hidden;
        overflow-y: visible;

        li {
            padding: 5px !important;
            margin-bottom: 7px !important;

            img {
                height: 40px;
                width: 40px;
            }
        }
    }

    .asset-loading {
        #list-asset-content {
            height: 400px;
        }

        #btnLoadMore {
            display: none;
        }
    }

    #list-asset-content {
        height: 350px;

        .btn-asset-assign {
            display: block;
        }

        .btn-asset-delete {
            display: none;
        }

        .recent-item {
            .label-recent-delete {
                display: block;
            }
        }
    }

    #list-group-content {
        .btn-asset-assign {
            display: none !important;
        }

        .btn-asset-delete {
            display: block !important;
        }

        .recent-item {
            .label-recent-add {
                display: block;
            }
        }
    }
}
