﻿@charset "utf-8";

.cbp-filter-item {
    cursor: pointer
}

.portfolio-item {
    margin-bottom: 25px
}
.cbp-caption-activeWrap {
    background: #000
}
.portfolio-content .cbp-l-project-desc-title span,
.portfolio-content .cbp-l-project-details-title span {
    border-bottom-color: #1f1f1f
}
.cbp-item .btn-group {
    width: 100%
}
.cbp-item .btn {
    width: 50%;
    color: #fff;
    padding: 0;
    border: 0;
    margin: 0;
    transition: background .35s, color .2s;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 0;
    background: 0 0;
    height: 47px;
    line-height: 46px
}
.cbp-item .btn:hover {
    background: #313131;
    color: #dfdfdf
}
.cbp-item .btn-right {
    border-left: 1px solid #313131!important
}

.cbp {
    margin-right: 10px
}
.cbp-item-wrapper {
    padding: 5px 15px 30px 5px;
}
.cbp-slider .cbp-item-wrapper {
    padding: 0
}
.cbp-slider.cbp {
    margin-right: 0
}
.cbp-item-wrap {
    background: #fff;
    transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;
    margin-left: 5px;
    margin-right: 10px
}
.cbp-item-wrap:hover {
    box-shadow: 0 15px 20px #03a9f4;
    transform: translate(0, -4px);
    opacity: 1!important
}
.cbp .cbp-item {
    overflow: visible
}
.cbp-popup-singlePage-counter {
    font: 400 14px/30px "Open Sans Condensed", sans-serif
}
.cbp-l-project-details .btn {
    font: 400 12px/17px "Open Sans Condensed", sans-serif;
    padding: 7px 15px;
    border-radius: 0;
    background: #1f1f1f;
    transition: .3s
}
.cbp-l-project-details .btn:hover {
    color: #fff;
    background: #222
}
.cbp-l-grid-projects-desc,
.cbp-l-grid-projects-title,
.cbp-l-project-desc-title,
.cbp-l-project-related-title,
.cbp-l-project-title {
    color: #1f1f1f
}
.cbp-l-project-related-link {
    transition: .1s
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    background-color: #1f1f1f
}
.cbp-l-project-details-list strong {
    color: #555
}
.cbp-l-project-subtitle {
    font: 400 16px/21px 'Open Sans Condensed', sans-serif
}
.cbp-l-project-desc-title span,
.cbp-l-project-details-title span {
    border-bottom: 2px solid #333
}
.cbp-l-grid-projects-desc {
    height: 34px
}

.cbp-l-loadMore-button .cbp-l-loadMore-button-link,
.cbp-l-loadMore-button .cbp-l-loadMore-link {
    margin-top: 15px
}
@media screen and (max-width: 767px) {
    .navbar,
    .portfolio-content .cbp-l-loadMore-button {
        margin-bottom: 0
    }
    .navbar {
        margin-top: 20px;
        padding: 0 10px
    }
    .main {
        margin-left: 15px;
        margin-right: 15px
    }
    .cbp {
        margin-right: 0
    }
    .cbp-item-wrapper {
        padding-right: 0
    }
    .footer {
        position: relative;
        bottom: -60px
    }
    .s-i {
        display: flex;
        justify-content: center;
        float: none;
        margin-top: 40px;
        margin-right: -5px
    }
}