﻿html, body {
  position: relative;
  height: 100%; }

body {
  color: #4c5462;
  font-weight: normal;
  font-style: normal;
  font-size: 14px; }

.section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }

.fa-6x {
  font-size: 6em; }

p {
  line-height: 1.625;
  font-size: 1rem;
  font-weight: 300; }

.p-50 {
  padding: 50px; }

.p-100 {
  padding: 100px; }

.form-group {
  position: relative; }

h2 {
  font-size: 30px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #4c5462;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px !important; } }

@media (max-width: 1000px) {
  .p-100 {
    padding: 30px; } }

/* PRELOADER WAVE STYLE */
#preloader-wrapper {
  background: #000000;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999999; }

.preloader-wave-effect {
  height: 50px;
  left: 50%;
  margin: 0 -25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px; }

.preloader-wave-effect::before,
.preloader-wave-effect::after {
  animation: 1.6s linear 0s normal none infinite running preloader-wave;
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 50px;
  position: absolute;
  width: 50px; }

.preloader-wave-effect::after {
  animation-delay: -0.8s; }

@keyframes preloader-wave {
  0% {
    opacity: 1;
    transform: scale(0, 0); }
  100% {
    opacity: 0;
    transform: scale(1, 1); } }

.sti-menu {
  position: relative;
  margin: 0 auto; }

.sti-menu .sti-menu-item {
  width: 300px;
  height: 300px;
  margin: 0 auto; }

.sti-menu .sti-menu-item a {
  display: block;
  overflow: hidden;
  background: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear; }

.sti-menu .sti-menu-item a:hover {
  background-color: #000; }

.sti-menu .sti-menu-item a h2 {
  color: #000;
  font-family: 'Wire One', arial, serif;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  width: 300px;
  top: 140px;
  left: 0px;
  text-shadow: 0px 1px 1px black; }

.sti-menu .sti-menu-item a h3 {
  font-size: 16px;
  position: absolute;
  top: 210px;
  left: 0;
  width: 300px;
  font-weight: 500; }

.sti-menu-item {
  padding: 0; }

.sti-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: transparent;
  left: 100px;
  top: 30px; }

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.ui-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 15px; }

.ui-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* -------------------------------- 

Main components 

-------------------------------- */
.ui-timeline {
  position: relative; }

.ui-right-align {
  text-align: right; }

/*.ui-date-opposite{
padding: 0;
}*/
.ui-timeline-block {
  position: relative;
  min-height: 16px;
  padding-left: 35px;
  padding-right: 35px; }

.ui-timeline-block::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0; }

.ui-timeline-block:last-child::before {
  display: none; }

.ui-right-align .ui-timeline-block::before {
  right: 0;
  left: auto !important;
  margin-left: 0 !important; }

.ui-timeline-block::after {
  content: "";
  display: table;
  clear: both; }

.ui-timeline-img {
  position: absolute;
  min-width: 1px;
  min-height: 1px;
  left: 0;
  top: 0; }

.ui-timeline-img i {
  display: block; }

.ui-right-align .ui-timeline-img {
  margin-left: 0 !important;
  left: auto !important;
  right: 0; }

.ui-last-empty-item .ui-timeline-img span {
  vertical-align: top; }

.ui-timeline-content-inner {
  position: relative; }

.ui-date {
  display: block; }

.cssanimations .ui-timeline-content.is-hidden {
  visibility: hidden; }

.cssanimations .ui-timeline-content.animated {
  visibility: visible; }

.ui-labels span {
  display: inline-block; }

.ui-labels {
  padding: 20px 0; }

.ui-labels.ui-start-label {
  padding-top: 0 !important; }

.ui-labels.ui-end-label {
  margin-bottom: 0  !important; }

@media only screen and (min-width: 679px) {
  .ui-date-opposite {
    margin-left: 190px; }
  .ui-left-align.ui-date-opposite {
    margin-left: 190px; }
  .ui-right-align.ui-date-opposite {
    margin-right: 190px;
    margin-left: 0;
    text-align: right; }
  .ui-date-opposite.ui-alternate {
    margin: 0; }
  .ui-timeline.ui-alternate.ui-left-align .ui-timeline-content,
  .ui-timeline.ui-date-opposite.ui-left-align .ui-timeline-content,
  .ui-timeline.ui-alternate.ui-right-align .ui-timeline-content,
  .ui-timeline.ui-date-opposite.ui-right-align .ui-timeline-content {
    width: 100%; }
  .ui-alternate .ui-timeline-block::before {
    left: 50%; }
  .ui-alternate .ui-timeline-img {
    left: 50% !important; }
  .ui-alternate .ui-timeline-block.ui-even-item .ui-timeline-content {
    float: right; }
  .ui-alternate .ui-timeline-block.ui-odd-item .ui-timeline-content {
    float: left; }
  .ui-date-opposite .ui-date {
    position: absolute;
    top: 0;
    text-align: right; }
  .ui-alternate .ui-timeline-block.ui-odd-item .ui-timeline-content,
  .ui-alternate.ui-date-opposite .ui-timeline-block.ui-even-item .ui-date,
  .ui-date-opposite.ui-left-align .ui-date,
  .ui-right-align {
    text-align: right; }
  .ui-alternate.ui-date-opposite .ui-timeline-block.ui-odd-item .ui-timeline-content .ui-date,
  .ui-date-opposite.ui-right-align .ui-date {
    text-align: left; }
  .ui-alternate .ui-timeline-label-block {
    text-align: center; }
  .ui-alternate .ui-timeline-label-block .ui-labels span {
    left: 0;
    right: 0; } }

@media only screen and (max-width: 678px) {
  .ui-timeline {
    margin-left: 20px; }
  .ui-timeline.ui-right-align,
  .ui-timeline.ui-responsive-right {
    margin-right: 20px;
    margin-left: 0; }
  .ui-responsive-right .ui-timeline-block::before {
    right: 0;
    left: auto !important;
    margin-left: 0 !important; }
  .ui-responsive-right {
    text-align: right; }
  .ui-responsive-right .ui-timeline-img {
    margin-left: 0 !important;
    left: auto !important;
    right: 0; }
  .ui-date {
    margin-bottom: 10px; } }

/*-------- Type- 01 ------*/
.ui-timeline-style-5 {
  color: #000; }

.ui-timeline-style-5 .ui-timeline-block::before {
  width: 2px;
  background: #1e4162;
  margin-left: -2px; }

.ui-timeline-style-5.ui-right-align .ui-timeline-block::before {
  margin-right: -2px; }

.ui-timeline-block {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 45px;
  padding-left: 45px; }

.ui-timeline-style-5 .ui-timeline-img {
  padding: 0;
  margin-left: -23px;
  width: 42px;
  height: 42px;
  color: #000;
  text-align: center;
  font-size: 24px; }

.ui-timeline-style-5 .ui-timeline-img span {
  box-shadow: 0 0 0 0 #fff;
  display: inline-block;
  margin: auto;
  padding: 8px;
  min-width: 16px;
  min-height: 16px;
  background: #1e4162;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid white; }

.ui-timeline-style-5 .ui-timeline-img i {
  display: block;
  color: white; }

.ui-timeline-style-5.ui-right-align .ui-timeline-img {
  margin-right: -21px; }

.ui-timeline-style-5 .ui-timeline-content {
  color: #777; }

.ui-timeline-style-5 .ui-date {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
  line-height: 30px; }

.ui-timeline-style-5 h2 {
  margin: 0 0 5px;
  font-weight: 800;
  color: #1e4162;
  font-size: 16px; }

.ui-timeline-style-5 p {
  margin: 0; }

.ui-timeline-style-5 .ui-timeline-label-block {
  padding-top: 0; }

@media (max-width: 679px) {
  .ui-timeline-style-5 .ui-timeline-label-block.timeline-label-box {
    padding: 0;
    margin-left: -2px; } }

.ui-timeline-style-5 .ui-labels span {
  position: relative;
  left: -45px;
  width: 78px;
  height: 78px;
  background: #1e4162;
  color: #fff;
  font-weight: 800;
  padding: 23px 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin-left: -39px; }

.ui-timeline-style-5.ui-right-align .ui-labels span {
  left: auto;
  right: -45px;
  margin-right: -39px;
  margin-left: 0; }

/*---------- Responsive part ------------*/
@media only screen and (min-width: 679px) {
  .ui-date-opposite {
    margin-left: 203px; }
  .ui-left-align.ui-date-opposite {
    margin-left: 203px; }
  .ui-right-align.ui-date-opposite {
    margin-right: 203px;
    margin-left: 0; }
  .ui-timeline-style-5.ui-alternate .ui-timeline-content,
  .ui-timeline-style-5.ui-date-opposite .ui-timeline-content {
    width: calc(50% - 44px); }
  .ui-timeline-style-5.ui-date-opposite .ui-date {
    left: -248px;
    line-height: 42px;
    width: 160px; }
  .ui-timeline-style-5.ui-date-opposite.ui-right-align .ui-date,
  .ui-timeline-style-4.ui-date-opposite.ui-alternate .ui-timeline-block.ui-odd-item .ui-date {
    right: -248px;
    left: auto;
    text-align: left; }
  .ui-timeline-style-5.ui-alternate .ui-labels span {
    margin: 0; } }

@media only screen and (max-width: 678px) {
  .ui-timeline-style-5.ui-responsive-right .ui-timeline-block::before {
    margin-right: -2px; }
  .ui-timeline-style-5.ui-responsive-right .ui-timeline-img {
    margin-right: -21px; }
  .ui-timeline-style-5.ui-responsive-right .ui-labels span {
    left: auto;
    right: -45px;
    margin-right: -39px;
    margin-left: 0; } }

.home-section p {
  color: white; }

.home-section h1 {
  color: white; }

.home-section #homeBgOverlay {
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.4) linear-gradient(to left, #03a9fa 0%, #fe275a 120%) repeat scroll 0 0; }

@media (max-width: 992px) {
  .contact-map {
    height: 1100px !important; } }

.info-details p {
  font-weight: 200;
  font-size: 18px; }

.contact-box .form-control {
  margin-bottom: 20px; }

.center-section {
  background-color: transparent;
  position: absolute;
  top: 20% !important;
  margin: 0 auto;
  left: 0;
  right: 0; }

.contact-box-inner {
  background-color: #1E4162;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); }

.contact-box-inner .address-box {
  padding-left: calc(100px - 30px); }

.contact-box {
  background-color: #fff; }

.contact-box form {
  margin-top: 30px;
  position: relative; }

.contact-box .form-control {
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative; }

.form-grad-border {
  background: transparent -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
  background: transparent linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%; }

.address-box h2 {
  color: #fff;
  margin-bottom: 25px;
  text-transform: capitalize; }

.address-box p {
  color: #fff; }

.address-info {
  margin-top: 40px; }

.address-box p.desc {
  font-size: 14px; }

.address-info li {
  margin-bottom: 12px; }

.info-icon {
  padding-right: 10px; }

.info-icon i {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px; }

.btn.btn-style-2 {
  border: 0 none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  outline: 0 none;
  padding: 13px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  background: transparent -webkit-linear-gradient(left, #54a6ff 0%, #72d0ff 100%) repeat scroll 0 0;
  background: transparent linear-gradient(to right, #54a6ff 0%, #72d0ff 100%) repeat scroll 0 0; }

.get-in-touch .btn {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 15px 30px; }

.dsp-tc {
  display: table-cell;
  vertical-align: top; }

.screenshot-title-row {
  margin-bottom: 0; }

/*What we do Area*/
.single-item-icon {
  background-color: #2296F3;
  border-radius: 36px 36px 0;
  display: inline-table;
  height: 100px;
  margin-bottom: 24px;
  text-align: center;
  width: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-item-icon i {
  color: #ffffff;
  display: table-cell;
  font-size: 50px;
  vertical-align: middle; }

.features-area {
  background: url(../img/preview2.png);
  padding-top: 35px;
  background-size: 63% auto;
  background-position: -11% 67%;
  background-repeat: no-repeat; }

@media (max-width: 1920px) and (min-width: 1400px) {
  .features-area {
    background-position: -8.5% 80%;
    background-size: 62% auto; } }

@media (max-width: 1200px) and (min-width: 992px) {
  .features-area {
    background: url(../img/preview2.png);
    background-repeat: no-repeat;
    background-position: -11% 64%;
    background-size: 53% auto; } }

@media (max-width: 991px) {
  .features-area, .features-area.features-yellow, .features-area.features-blue {
    background: transparent none repeat scroll 0 0;
    padding-top: 122px; } }

.features-area .single-item-text h4 {
  line-height: 21px;
  margin-bottom: 11px; }

.single-item h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px; }

.features-area .single-item-text p {
  margin-bottom: 0; }

@media (max-width: 1920px) and (min-width: 1400px) {
  .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {
    margin-left: 56px; } }

@media (max-width: 1920px) and (min-width: 1400px) {
  .features-area .single-item:nth-child(3) {
    margin-left: 138px; } }

.features-area .single-item {
  margin-bottom: 96px;
  position: relative;
  z-index: 99; }

.features-area .single-item:first-child, .features-area .single-item:last-child {
  margin-left: -50px; }

.features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {
  margin-left: 84px; }

.features-area .single-item:nth-child(3) {
  margin-left: 121px; }

.features-area .single-item:first-child, .features-area .single-item:last-child {
  margin-left: -50px; }

@media (max-width: 992px) {
  .features-area .single-item:first-child, .features-area .single-item:last-child, .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4), .features-area .single-item:nth-child(3) {
    margin-left: 0; } }

.features-area .single-item-icon {
  float: left;
  margin-right: 38px; }

