﻿@using PostgresqlDemo.WebUI.Infrastructure.Extensions
@model MenuHelperModel

@TopMenu(Model.Nodes)

@helper  TopMenu(List<SiteMapNodeModel> nodeList)
    {
        <ul class="nav" id="side-menu">

            @NavHeader(nodeList.FirstOrDefault(x => x.Title == "Profile"))

            @foreach (var node in nodeList.VisibleNodes())
            {
                <li class="@node.Active()">
                    <a href="@node.NodeUrl()">
                        <i class="fa fa-@node.Icon()"></i>
                        <span class="nav-label">@node.Title</span>
                        @if (node.HasVisibleChildren())
                        {
                            <span class="fa arrow"></span>
                        }
                    </a>
                    @SubMenu(node)
                </li>
            }
        </ul>

}

@helper SubMenu(SiteMapNodeModel parent)
    {
        if (!parent.HasVisibleChildren())
        {
            return;
        }

        <ul class="nav nav-second-level collapse @parent.Active("in")">
            @foreach (var node in parent.Children.VisibleNodes())
            {
                <li class="@node.Active()"><a href="@node.NodeUrl()">@node.Title</a></li>
            }
        </ul>
}

@helper NavHeader(SiteMapNodeModel parent)
    {
        <li class="nav-header">
            <div class="dropdown profile-element">

                @UserAvatar()

                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">@CurrentUser.Info.UserName</strong>
                        </span>
                        <span class="text-muted text-xs block">@(string.Join(" ", CurrentUser.Roles)) <b class="caret"></b></span>
                    </span>
                </a>

                <ul class="dropdown-menu m-t-xs">
                    @if (parent != null)
                    {
                        foreach (var node in parent.Children)
                        {
                            <li><a href="@node.NodeUrl()">@node.Title</a></li>
                        }
                    }
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Logout", "Account", new {area = ""})">Log out</a></li>
                </ul>
            </div>
            <div class="logo-element">
                IN+
            </div>
        </li>
}

@helper UserAvatar()
    {
        var avatarClass = "";
        if (!string.IsNullOrEmpty(CurrentUser.Info.Avatar))
        {
            avatarClass = "image-profile";
        }

        <span class="group-avatar @avatarClass">
            <a class="btn btn-primary btn-circle letter-avatar" href="@Url.Action("PersonalInfo", "Profile", new {area = "Admin"})">
                <span>@CurrentUser.Info.UserName[0].ToString().ToUpper()</span>
            </a>
            <a class="btn btn-circle full-height image-avatar" href="@Url.Action("PersonalInfo", "Profile", new {area = "Admin"})">
                <img alt="avatar" class="img-circle img-md" src="" />
            </a>
        </span>
}