﻿
@using Core.Web.MetadataModel.Common

@{
    var name = Html.NameForModel().ToString();
    var url = Url.Action("Index", "FileManager", new { targetId = name });
    var htmlAttributes = Html
            .ModelHtmlAttributes()
            .AttrIfNotNull("readonly", "");
}

<div class="input-group file-picker">
    <a class="input-group-addon btn btn-default file-picker-preview">
        <i class="fa fa-photo"></i>
    </a>
    @(Html.Kendo().TextBoxFor(m => m)
              .HtmlAttributes(htmlAttributes)
              .Deferred())


    <a class="input-group-addon btn btn-default" onclick="KendoHelper.showPopup('@url')">
        <i class="fa fa-upload"></i> Select
    </a>
    @if (!ViewData.ModelMetadata.IsRequired())
    {
        <a class="input-group-addon btn btn-default file-picker-clear">
            <i class="fa fa-remove"></i>
        </a>
    }

</div>
