﻿@using PostgresqlDemo.WebUI.Infrastructure.Extensions

<div id="@ViewData["ModalId"]" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="ajaxContent">

                </div>
                @Html.Spinner()
            </div>
        </div>
    </div>
</div>
