﻿html, body {
    position: relative;
    height: 100%;
}

body {
    color: #4c5462;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.section {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.fa-6x {
    font-size: 6em;
}

p {
    line-height: 1.625;
    font-size: 1rem;
    font-weight: 300;
}

.p-50 {
    padding: 50px;
}

.p-100 {
    padding: 100px;
}

.form-group {
    position: relative;
}

h2 {
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #4c5462;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px !important;
    }
}

@media (max-width: 1000px) {
    .p-100 {
        padding: 30px;
    }
}
