﻿// Home
.home-section p {
    color: white;
}

.home-section h1 {
    color: white;
}

.home-section #homeBgOverlay {
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.4) linear-gradient(to left, #03a9fa 0%, #fe275a 120%) repeat scroll 0 0;
}


// Contact
@media(max-width: 992px) {
    .contact-map {
        height: 1100px !important;
    }
}

.info-details p {
    font-weight: 200;
    font-size: 18px;
}

.contact-box .form-control {
    margin-bottom: 20px;
}

.center-section {
    background-color: transparent;
    position: absolute;
    top: 20% !important;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.contact-box-inner {
    background-color: #1E4162;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.contact-box-inner .address-box {
    padding-left: calc(100px - 30px);
}

.contact-box {
    background-color: #fff;
}

.contact-box form {
    margin-top: 30px;
    position: relative;
}


.contact-box .form-control {
    margin-bottom: 20px;
    padding: 10px 0;
    position: relative;
}

.form-grad-border {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.address-box h2 {
    color: #fff;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.address-box p {
    color: #fff;
}

.address-info {
    margin-top: 40px;
}

.address-box p.desc {
    font-size: 14px;
}

.address-info li {
    margin-bottom: 12px;
}

.info-icon {
    padding-right: 10px;
}

.info-icon i {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 30px;
}

.btn.btn-style-2 {
    border: 0 none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    outline: 0 none;
    padding: 13px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #54a6ff 0%, #72d0ff 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #54a6ff 0%, #72d0ff 100%) repeat scroll 0 0;
}

.get-in-touch .btn {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 30px;
}

.dsp-tc {
    display: table-cell;
    vertical-align: top;
}

.screenshot-title-row {
    margin-bottom: 0;
}


/*What we do Area*/

.single-item-icon {
    background-color: #2296F3;
    border-radius: 36px 36px 0;
    display: inline-table;
    height: 100px;
    margin-bottom: 24px;
    text-align: center;
    width: 100px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


.single-item-icon i {
    color: #ffffff;
    display: table-cell;
    font-size: 50px;
    vertical-align: middle;
}

.features-area {
    background: url(../img/preview2.png);
    padding-top: 35px;
    background-size: 63% auto;
    background-position: -11% 67%;
    background-repeat: no-repeat;
}


@media (max-width: 1920px) and (min-width: 1400px) {
    .features-area {
        background-position: -8.5% 80%;
        background-size: 62% auto;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .features-area {
        background: url(../img/preview2.png);
        background-repeat: no-repeat;
        background-position: -11% 64%;
        background-size: 53% auto;
    }
}

@media (max-width: 991px) {
    .features-area, .features-area.features-yellow, .features-area.features-blue {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding-top: 122px;
    }
}

.features-area .single-item-text h4 {
    line-height: 21px;
    margin-bottom: 11px;
}

.single-item h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}

.features-area .single-item-text p {
    margin-bottom: 0;
}

@media (max-width: 1920px) and (min-width: 1400px) {
    .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {
        margin-left: 56px;
    }
}

@media (max-width: 1920px) and (min-width: 1400px) {
    .features-area .single-item:nth-child(3) {
        margin-left: 138px;
    }
}


.features-area .single-item {
    margin-bottom: 96px;
    position: relative;
    z-index: 99;
}

.features-area .single-item:first-child, .features-area .single-item:last-child {
    margin-left: -50px;
}

.features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {
    margin-left: 84px;
}

.features-area .single-item:nth-child(3) {
    margin-left: 121px;
}

.features-area .single-item:first-child, .features-area .single-item:last-child {
    margin-left: -50px;
}

@media(max-width: 992px) {
    .features-area .single-item:first-child, .features-area .single-item:last-child, .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4), .features-area .single-item:nth-child(3) {
        margin-left: 0;
    }
}

.features-area .single-item-icon {
    float: left;
    margin-right: 38px;
}
