﻿
/* PRELOADER WAVE STYLE */
#preloader-wrapper {
    background: #000000;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.preloader-wave-effect {
    height: 50px;
    left: 50%;
    margin: 0 -25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

    .preloader-wave-effect::before,
    .preloader-wave-effect::after {
        animation: 1.6s linear 0s normal none infinite running preloader-wave;
        background: #fff none repeat scroll 0 0;
        border-radius: 100%;
        content: "";
        height: 50px;
        position: absolute;
        width: 50px;
    }

    .preloader-wave-effect::after {
        animation-delay: -0.8s;
    }

@keyframes preloader-wave {
    0% {
        opacity: 1;
        transform: scale(0, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}