﻿
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.ui-container {

    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
}

.ui-container::after {

    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.ui-timeline {
    position: relative;
}

.ui-right-align {
    text-align: right;
}

/*.ui-date-opposite{
padding: 0;
}*/


.ui-timeline-block {
    position: relative;
    min-height: 16px;
    padding-left: 35px;
    padding-right: 35px;
}
.ui-timeline-block::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.ui-timeline-block:last-child::before{
    display: none;
}
.ui-left-align .ui-timeline-block::before {
}

.ui-right-align .ui-timeline-block::before {
    right: 0;
    left: auto !important;
    margin-left: 0 !important;
}
.ui-timeline-block::after {
    content: "";
    display: table;
    clear: both;
}

.ui-timeline-img {
    position: absolute;
    min-width: 1px;
    min-height: 1px;
    left: 0;
    top: 0;
}
.ui-timeline-img i{
    display: block;
}

.ui-right-align .ui-timeline-img {
    margin-left: 0 !important;
    left: auto !important;
    right: 0;
}
.ui-last-empty-item .ui-timeline-img span{
    vertical-align: top;
}

.ui-timeline-content-inner {
    position: relative;
}

.ui-date {
    display: block;
}

.cssanimations .ui-timeline-content.is-hidden {
    visibility: hidden;
}

.cssanimations .ui-timeline-content.animated {
    visibility: visible;
}

.ui-labels span{
    display: inline-block;
}

.ui-labels{
    padding: 20px 0;
}
.ui-labels.ui-start-label{
    padding-top: 0 !important;
}
.ui-labels.ui-end-label{
    margin-bottom: 0  !important;
}


@media only screen and (min-width:679px) {
    .ui-date-opposite {
        margin-left: 190px;
    }
    .ui-left-align.ui-date-opposite {
        margin-left: 190px;
    }

    .ui-right-align.ui-date-opposite {
        margin-right: 190px;
        margin-left: 0;
        text-align: right;
    }
    .ui-date-opposite.ui-alternate{
        margin: 0;
    }


    .ui-timeline.ui-alternate.ui-left-align .ui-timeline-content,
    .ui-timeline.ui-date-opposite.ui-left-align .ui-timeline-content,
    .ui-timeline.ui-alternate.ui-right-align .ui-timeline-content,
    .ui-timeline.ui-date-opposite.ui-right-align .ui-timeline-content {
        width: 100%;
    }

    .ui-alternate .ui-timeline-block::before {
        left: 50%;
    }

    .ui-alternate .ui-timeline-img {
        left: 50% !important;
    }

    .ui-alternate .ui-timeline-block.ui-even-item .ui-timeline-content {
        float: right;
    }
    .ui-alternate .ui-timeline-block.ui-odd-item .ui-timeline-content {
        float: left;
    }

    .ui-date-opposite .ui-date {
        position: absolute;
        top: 0;
        text-align: right;
    }

    .ui-alternate .ui-timeline-block.ui-odd-item .ui-timeline-content,
    .ui-alternate.ui-date-opposite .ui-timeline-block.ui-even-item .ui-date,
    .ui-date-opposite.ui-left-align .ui-date,
    .ui-right-align {
        text-align: right;
    }

    .ui-alternate.ui-date-opposite .ui-timeline-block.ui-odd-item .ui-timeline-content .ui-date,
    .ui-date-opposite.ui-right-align .ui-date {
        text-align: left;
    }
    .ui-alternate .ui-timeline-label-block{
        text-align: center;
    }
    .ui-alternate .ui-timeline-label-block .ui-labels span{
        left: 0;
        right: 0;
    }

}

@media only screen and (max-width:678px) {
    .ui-timeline{
        margin-left: 20px;
    }
    .ui-timeline.ui-right-align, 
    .ui-timeline.ui-responsive-right {
        margin-right: 20px;
        margin-left: 0;
    }
    .ui-responsive-right .ui-timeline-block::before {
        right: 0;
        left: auto !important;
        margin-left: 0 !important;
    }
    .ui-responsive-right {
        text-align: right;
    }
    .ui-responsive-right .ui-timeline-img {
        margin-left: 0 !important;
        left: auto !important;
        right: 0;
    }
    .ui-date{
        margin-bottom: 10px;
    }
}

/*-------- Type- 01 ------*/

.ui-timeline-style-5 {
    color: #000;
}

.ui-timeline-style-5 .ui-timeline-block::before {
    width: 2px;
    background: #1e4162;
    margin-left: -2px;
}

.ui-timeline-style-5.ui-right-align .ui-timeline-block::before {
    margin-right: -2px;
}

.ui-timeline-block {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 45px;
    padding-left: 45px;
}

.ui-timeline-style-5 .ui-timeline-img {
    padding: 0;
    margin-left: -23px;
    width: 42px;
    height: 42px;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.ui-timeline-style-5 .ui-timeline-img span {
    box-shadow: 0 0 0 0 #fff;
    display: inline-block;
    margin: auto;
    padding: 8px;
    min-width: 16px;
    min-height: 16px;
    background: #1e4162;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid white;
}

.ui-timeline-style-5 .ui-timeline-img i {
    display: block;
    color: white;
}

.ui-timeline-style-5.ui-right-align .ui-timeline-img {
    margin-right: -21px;
}

.ui-timeline-style-5 .ui-timeline-content {
    color: #777;
}

.ui-timeline-style-5 .ui-date {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
    line-height: 30px;
}

.ui-timeline-style-5 h2 {
    margin: 0 0 5px;
    font-weight: 800;
    color: #1e4162;
    font-size: 16px;
}

.ui-date-opposite.ui-timeline-style-5 h2 {
}

.ui-timeline-style-5 p {
    margin: 0;
}

.ui-timeline-style-5 .ui-timeline-label-block {
    padding-top: 0;
}

@media (max-width: 679px) {
    .ui-timeline-style-5 .ui-timeline-label-block.timeline-label-box {
        padding: 0;
        margin-left: -2px;
    }
}

.ui-timeline-style-5 .ui-labels span {
    position: relative;
    left: -45px;
    width: 78px;
    height: 78px;
    background: #1e4162;
    color: #fff;
    font-weight: 800;
    padding: 23px 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-left: -39px;
}

.ui-timeline-style-5.ui-right-align .ui-labels span {
    left: auto;
    right: -45px;
    margin-right: -39px;
    margin-left: 0;
}

/*---------- Responsive part ------------*/
@media only screen and (min-width:679px) {

    .ui-date-opposite {
        margin-left: 203px;
    }

    .ui-left-align.ui-date-opposite {
        margin-left: 203px;
    }

    .ui-right-align.ui-date-opposite {
        margin-right: 203px;
        margin-left: 0;
    }

    .ui-timeline-style-5.ui-alternate .ui-timeline-content,
    .ui-timeline-style-5.ui-date-opposite .ui-timeline-content {
        width: calc(50% - 44px);
    }

    .ui-timeline-style-5.ui-date-opposite .ui-date {
        left: -248px;
        line-height: 42px;
        width: 160px;
    }

    .ui-timeline-style-5.ui-date-opposite.ui-right-align .ui-date,
    .ui-timeline-style-4.ui-date-opposite.ui-alternate .ui-timeline-block.ui-odd-item .ui-date {
        right: -248px;
        left: auto;
        text-align: left;
    }

    .ui-timeline-style-5.ui-alternate .ui-labels span {
        margin: 0;
    }
}

@media only screen and (max-width:678px) {
    .ui-timeline-style-5.ui-responsive-right .ui-timeline-block::before {
        margin-right: -2px;
    }

    .ui-timeline-style-5.ui-responsive-right .ui-timeline-img {
        margin-right: -21px;
    }

    .ui-timeline-style-5.ui-responsive-right .ui-labels span {
        left: auto;
        right: -45px;
        margin-right: -39px;
        margin-left: 0;
    }
}