﻿@using PostgresqlDemo.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.PageTitle()</title>

    @ViewHelper.RenderHomeFonts()
    @ViewHelper.RenderStyles("home")
</head>
<body>
    <div class="content inner-content">
        @RenderBody()
    </div>

    @Html.Partial("Partials/_Footer")
    @Html.Partial("_Google")

    @ViewHelper.RenderScripts("home")
    @RenderSection("scripts", required: false)
</body>
</html>
