﻿@using PostgresqlDemo.WebUI.Infrastructure.Extensions
@using Core.Web.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Html.PageTitle()</title>
    @ViewHelper.RenderAdminFonts()
    @ViewHelper.RenderStyles()
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

</head>
<body>
    <div id="wrapper" class="@Html.PageClass()">

        @Html.Partial("_Navigation")

        <div id="page-wrapper" class="gray-bg">

            @Html.Partial("_TopNavbar")


            @if (IsSectionDefined("Sitemap"))
            {
                @RenderSection("Sitemap")
            }
            else
            {
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            }

            @RenderBody()

            @Html.Partial("_Footer")
        </div>
    </div>

    @ViewHelper.RenderScripts()
    @Html.Kendo().DeferredScripts()
    @Html.Partial("_Alerts")
    @RenderSection("scripts", required: false)
</body>
</html>
