﻿@using Core.Web.Kendo
@using Kendo.Mvc.UI
@using PostgresqlDemo.WebCore.Modules.Posts.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh sách Bài đăng</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "ManagePost")">
                                <i class="fa fa-plus"></i> Thêm mới
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<PostModel>()
                                .DefaultSettings()
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.Title).ClientTemplate("<a href='/Admin/ManagePost/Edit/#:Id#'>#:Title#</a>");
                                    columns.Command(x =>
                                    {
                                        x.Destroy().Text("Xóa");
                                    }).Width(50);
                                })
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .DefaultSettings()
                                      .Model(model =>
                                      {
                                          model.Id(p => p.Id);
                                      })
                                      .Read(read => read.Action("Grid_Read", "ManagePost"))
                                      .Destroy(destroy => destroy.Action("Grid_Destroy", "ManagePost"))
                                  ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>