﻿<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">Internal Server Error</h3>

    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br>
    </div>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
        <i class="fa fa-home"></i> HomePage
    </a>
    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-primary" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
            <i class="fa fa-th-large"></i> DashBoard
        </a>
    }
</div>