﻿@*<div id="siteFooterBottom" class="site-footer-bottom-section">
    <div class="container">
        <div class="row">
            <div class="site-footer-bottom-left-col col-md-6">
                <div class="site-footer-brand">
                    PostgresqlDemo
                </div>

                <div class="site-footer-bottom-info">
                    <ul>
                        <li><a href="#" class="popup-inline" data-toggle="modal" data-target="#termModal">Terms of Service</a></li>
                        <li><a href="#" class="popup-inline" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="site-footer-bottom-right-col col-md-6">
                <ul class="site-footer-bottom-social-list">
                    <li class="wow fadeInRight"><a href="https://facebook.com/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li class="wow fadeInRight" data-wow-delay="0.1s"><a href="https://twitter.com/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li class="wow fadeInRight" data-wow-delay="0.4s"><a href="https://www.linkedin.com/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                </ul>
                <div class="site-footer-bottom-copyright">© @DateTime.Now.Year PostgresqlDemo, LLC</div>
            </div>
        </div>
    </div>
</div>

<div id="termModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Term of Service</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Partials/_TermOfUse")
            </div>
        </div>
    </div>
</div>
<div id="privacyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Partials/_TermOfUse")
            </div>
        </div>
    </div>
</div>*@
