﻿@using PostgresqlDemo.WebUI.Infrastructure.Extensions
@{
    var isContactPage = string.Equals(ViewContext.RouteData.Values["action"].ToString(), "contact", StringComparison.OrdinalIgnoreCase);

    var lang = Request.RequestLanguage();
}

<header>
    <div class="logo-box">
        <a class="logo" href="@Url.Action("Index", "Home")"><img alt="" src="/Content/img/logo.png"></a>
    </div>

    <div class="text-center">
        @*<a type="button" class="btn btn-outline btn-success button-login" href="@Url.Action("Login","Account")">Log in</a>
            <a type="button" class="btn btn-outline btn-success button-login" href="@Url.Action("Register","Account")">Register</a>*@
        <form action="search_results.html">
            <div class="input-group">
                <input type="text" class="form-control" style="min-height: 30px" placeholder="Search something...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 0; background: transparent; border: 0">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <a class="elemadded responsive-link" href="#">Menu</a>

    <div class="menu-box">
        <ul class="menu">
            <li><a href="@Url.Action("Index", "Home")"><span>@ResourceManager.GetText("Menu_Home", lang)</span></a></li>
            <li><a href="@Url.Action("Index", "AboutUs")"><span>@ResourceManager.GetText("Menu_AboutUs", lang)</span></a></li>
            <li><a href="@Url.Action("Index", "Portfolio")"><span>@ResourceManager.GetText("Menu_Portfolio", lang)</span></a></li>
            <li class="drop">
                <a href="#"><span>Blog</span></a>
                <ul class="drop-down">
                    <li class="drop">
                        <a href="@Url.Action("Index", "TechBlog")"><span>@ResourceManager.GetText("Menu_TechBlog", lang)</span></a>
                    </li>
                    <li class="drop">
                        <a href="#"><span>@ResourceManager.GetText("Menu_MyLife", lang)</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Shop")"><span>@ResourceManager.GetText("Menu_Shop", lang)</span></a></li>
            <li><a href="@Url.Action("Index", "ContactUs")"><span>@ResourceManager.GetText("Menu_Contact", lang)</span></a></li>
        </ul>
    </div>

    <div class="social-box">
        <ul class="social-icons">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" class="github"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="copyright">&#169; 2017 PostgresqlDemo, All Rights Reserved</p>
    </div>
</header>
<!-- End Header -->