﻿<div class="box-c-main box-c-topic" id="knowledge_base_topic_5955">
    <h2 style="margin-top: 0">
        Usage licenses
    </h2>
    <div class="topic-content">
        <div class="topic-description">
            <p>Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. There are several licenses available:</p>
            <h3>Single Application License</h3>
            <ol>
                <li>Your use of the item is restricted to a single installation.</li>
                <li>You may use the item in work which you are creating for your own purposes or for your client.</li>
                <li>You must not incorporate the item in a work which is created for redistribution or resale by you or your client.</li>
                <li>The item may not be redistributed or resold.</li>
                <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
                <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
            </ol>
            <h3>Multiple Applications License</h3>
            <ol>
                <li>Your use of the item may extend to multiple installations.</li>
                <li>You may use the item in work which you are creating for your own purposes or for your clients.</li>
                <li>You must not incorporate the item in a work which is created for redistribution or resale by you or your clients.</li>
                <li>The item may not be redistributed or resold.</li>
                <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
                <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
            </ol>
        </div>
    </div>
</div>