﻿@using Core.Timing
<hr />
<div class="row">
    <div class="col-md-9 text-left">
        © PostgresqlDemo, LLC
    </div>
    <div class="col-md-3 text-right">
        <small>@Clock.Now.Year</small>
    </div>
</div>