﻿@{
    ViewBag.Title = "Activation Code Canceled";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">@ViewBag.Title</h2>
                <p>
                    Your activation code has been canceled. Please @Html.ActionLink("Click here to get another Activation Code", "RequestActivationCode", "Account", routeValues: null, htmlAttributes: null)
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</div>