﻿@{
    ViewBag.Title = "Forgot password confirmation";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">@ViewBag.Title</h2>
                <p>
                    Please check your email to reset your password or @Html.ActionLink("click here to log in", "Login", "Account", htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</div>