﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">@ViewBag.Title</h2>
                <p>
                    Your password has been reset. Please click @Html.ActionLink("here", "Login", "Account", null, new { id = "loginLink" }) to log in
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</div>